@{
    ViewBag.Title = "Ooops...";
}

@section Scripts{ 

}



<div class="col-sm-12 col-md-6 col-md-offset-3">
    <h2 class="center-block">Something went wrong...</h2>
    <span>Try </span><a asp-controller="App" asp-action="Index">go to homepage</a>
</div>