
@{
    ViewBag.Title = "ToDo Project";
}

@section Scripts{ 
<script src="~/lib/angular/angular.min.js"></script>
<script src="~/lib/angular-route/angular-route.min.js"></script>

<script src="~/js/app-todo.js"></script>
<script src="~/js/simpleControls.js"></script>
<script src="~/js/todoController.js"></script>
    <script src="~/js/taskEditController.js"></script>

}

<div class="row" ng-app="app-todo">

    <div ng-view></div>

</div>