<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/yeti/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
</head>
<body>
    <div class="navbar">
        <div class="col-md-3 col-md-offset-9">
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts")
</body>
</html>
